<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>STUDENT PEREFORMANCE</title>
</head>
<body>
  <form action="{{ url_for('home')}}" method="post">
    <div class="student">
    SCHOOL:
    <select id="myDropdown"  name="school">
      <option value="GP">GP</option>
      <option value="MS">MS</option>
      
    </select><br>
    SEX:
    <select id="myDropdown" name="sex">
        <option value="F">F</option>
        <option value="M">M</option>
        
      </select><br>
    AGE:
    <input class="age" type="number" id="quantity" name="age" min="1" max="100" step="1" value="-"><br>
    ADDRESS:
    <select id="myDropdown"  name="address">
      <option value="U">U</option>
      <option value="R">R</option>
      
    </select><br>
    FAMSIZE:
    <select id="myDropdown"  name="famsize">
      <option value="GT3">GT3</option>
      <option value="LE3">LE3</option>
      
    </select><br>
    PSTATUS:
    <select id="myDropdown" name="pstatus">
      <option value="T">T</option>
      <option value="A">A</option>
      
    </select><br>
    MEDU:
    <input type="text" name="Medu" ><br>
    FEDU:
    <input type="text"  name="Fedu" ><br>
    MJOB:
    <select id="myDropdown"  name="Mjob">
      <option value="services">services</option>
      <option value="at_home">at_home</option>
      <option value="teacher">teacher</option>
      <option value="health">health</option>
      <option value="other">other</option>
      
    </select><br>
    FJOB:
    <select id="myDropdown" name="Fjob"> 
      <option value="services">services</option>
      <option value="at_home">at_home</option>
      <option value="teacher">teacher</option>
      <option value="health">health</option>
      <option value="other">other</option>
      
    </select><br>
    GUARDIAN:
    <select id="myDropdown" name="guardian">
      <option value="mother">mother</option>
      <option value="father">father</option>
      
      <option value="other">other</option>
      
      
    </select><br>
    TRAVELTIME:
    <input name="traveltime" type="text"><br>
    STUDYTIME:
    <input name="studytime" type="text"><br>
    FAILURE:
    <input name="failures" type="text"><br>
    NURSERY:
    <select id="myDropdown" name="nursery">
      <option value="yes">yes</option>
      <option value="no">no</option>
      
    </select><br>
    INTERNET:
    <select id="myDropdown" name="internet">
      <option value="yes">yes</option>
      <option value="no">no</option>
      
    </select><br>
    FREETIME:
    <input name="freetime" type="text"><br>
    GOOUT:
    <input name="goout" type="text"><br>
    HEALTH:
    <input name="health" type="text"><br>
    ABSENCES:
    <input name="absence" type="text"><br>
    G1:
    <input name="G1" type="text"><br>
    G2:
    <input name="G2" type="text"><br>
    <input type="submit" value="submit"><br>
    G3   : {{result}}<br>
    Tips : {{tip}}
<style>
  *{

    background-color: blanchedalmond;
}
.student{
    display: inline-block;
    align-items: flex-start;
      
}
</style>
<script>
  document.getElementById("myDropdown").addEventListener("change", function() {
    var selectedOption = this.value;
    console.log("Selected Option: " + selectedOption);
    
  });
</script>

</body>
</html>